
html {
  background: url("http://i.imgur.com/DRNFL2C.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background: url("http://i.imgur.com/DRNFL2C.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1[data-v-d9b08e82] {
  text-align: center;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px black;
  margin-top: 60px;
}

.panel[data-v-815a953c] {
  margin: 300px auto 0 auto;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.4);
}
.dates[data-v-815a953c] {
  display: block;
  background-color: #f5f5f5;
  width: 240px;
  float: right;
  margin: 50px 400px 0 0;
}
